@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #007af3;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

body {
  background-color: aliceblue;
}

.navbar {
  /* border: 1px solid black; */
  background: white;
  padding: 1em;
  color: #20272e;
}

.logo {
  /* border: 1px solid black; */
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.logo-div {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}
span {
  color: var(--primary-color);
}

.navbar .container {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.nav-div {
  /* border: 1px solid black; */
  position: relative;
  /* height: fit-content; */
  text-align: center;
}

.nav-div ul li {
  /* border: 1px solid white; */
  position: relative;
  display: inline-block;
}

.nav-div li a {
  text-decoration: none;
  padding: 10px;
  font-size: 1.3rem;
}

#mobile-menu {
  color: #20272e;
  position: absolute;
  right: 2rem;
  font-size: 2rem;
  /* z-index: 8; */
  cursor: pointer;
  display: none;
}

/* section 1 */

.section1-container {
  display: flex;
  justify-content: space-between;
}
.section3-container {
  text-align: left;
}

a {
  color: #444444;
}

ul li {
  list-style-type: none;
}

section {
  padding: 3em 2em;
}

.hero {
  text-align: center;
  margin-bottom: 2rem;
}

.subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: 0.3em;
}
h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin: 0.8rem 0rem;
}
.primary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
  margin: 1rem 0rem;
}
.watch-video-cta {
  display: block;
  margin-top: 1em;
}

section.features-section {
  background: #20272e;
  color: white;
}

.features-list {
  margin: 0;
  padding-left: 0.1em;
  /* // come back for that */
}
.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

/* i commented this out because it was not targeting anything
    when useing the before tag, you have to target and element first
    on which you want to use the befor tag
 */
/* 
:before {
  content: "";
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../image/checked.png");
  background-size: contain;
  margin-right: 0.5em;
} */

/* section 2 */

.features-section img {
  display: none;
}

.testimonials-section {
  background: var(--primary-color);
}
.testimonials-section ul li {
  background: #006bd6;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

/* section 3 */

h2 {
  font-size: 2em;
  text-align: center;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.input,
textarea {
  width: 70%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

a:hover {
  font-weight: bold;
}

#mobile-exit {
  /* float: left; */
  position: absolute;
  left: -1.5rem;
  margin: 0.5em;
  cursor: pointer;
  display: none;
}

.nav-div {
  display: block;
}

@media (max-width: 900px) {
  .hide {
    display: none;
  }
  #mobile-menu {
    display: block;
  }
  #mobile-exit {
    display: block;
  }
  .mobile-menu {
    display: block;
  }

  .nav-div {
    position: absolute;
    z-index: 2;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272e;
    /* opacity: 0.9; */
    height: 100vh;
  }

  .nav-div ul li {
    display: block;
    text-align: left;
    padding: 2rem 1rem;
  }

  .nav-div li a {
    color: white;
    text-align: left;
  }

  .section1-container {
    flex-direction: column;
  }

  .input,
  textarea {
    width: 95%;
  }
}
